* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #FFFFFF;
}

.mui-content {
	background-color: #FFFFFF;
	height: 100%;
}

.left {
	height: 100%;
	width: 30%;
	background-color: #F0F0F0;
	color: #666666;
}

.left a,
.left li ul li {
	padding: 15px;
	text-decoration: none;
	color: #666666;
}

ul {
	list-style: none;
}

.left>li {
	list-style: none;
}

.child-list {
	font-size: 0.8em;
	background-color: #FFFFFF;
}

.invisible {
	display: none;
}

.dot {
	position: absolute;
	left: 5px;
}

a {
	display: inline-block;
	width: 100%;
}

.left li ul li.active {
	color: #4CCD56;
}

li.active a {
	color: #4CCD56;
	border-left: 3px solid #4CCD56;
}

.left li ul li {
	background-color: #FFFFFF;
	color: #999999;
}

ul.left {
	display: inline-block;
	float: left;
}

div.right {
	position: relative;
	height: 100%;
	width: 70%;
	display: inline-block;
	float: left;
}

.mui-table-view .mui-media-object {
	line-height: 42px;
	max-width: 30%;
	height: auto;
}

.goods-num,
.goods-price,
.goods-spec {
	color: #999999;
	font-size: .8em;
}

.goods-name {
	color: #333333;
}

.calculate img {
	width: 30px;
}

p.calculate {
	position: absolute;
	bottom: 0;
	display: flex;
	right: 0;
	justify-content: center;
}

p.calculate span {
	margin-right: 5px;
}

.mui-table-view-cell>a:not(.mui-btn).mui-active {
	background-color: #FFFFFF;
}

.special-price {
	color: #FFFFFF;
	border: 1px solid #E83C3A;
	background-color: #E83C3A;
	border-radius: 2px;
	padding: 0 5px;
	margin-right: 5px;
}

.only-one {
	color: #FF6243;
}

.mui-table-view-cell>a:not(.mui-btn) {
	display: flex;
	align-items: center;
	height: 100px;
}

.goods-now-price {
	color: #E83C3A;
}

.goods-pre-price {
	text-decoration: line-through;
}

.shopping-cart-container {
	position: absolute;
	border-radius: 100%;
	height: 2.5em;
	width: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 1em;
	bottom: 3em;
}

.shopping-cart-container img {
	width: 2.5em;
}

.circle-num {
	position: absolute;
	top: -.5em;
	right: -.5em;
}

.main-content-desc {
	background-color: #FFFFFF;
}
.calculate{
	color: #4CCD56;
}
.circle-num{
	background-color: #E83C3A;
}
.child-list{
	word-break: break-all;
}
div.mui-scroll div.mui-pull-bottom-pocket{
	display: none;
}
li.mui-table-view-cell.mui-media {
	min-height: 110px;
}