<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>选择城市</title>
    <link rel="stylesheet" href="assest/mui/css/mui.css"/>
    <link rel="stylesheet" href="css/city-choice.css"/>
    <script type="text/javascript" src="js/sha1.js"></script>
</head>

<body>
<div id="app" class="mui-content">
    <div class="now-position now-position-top">
        <div class="now-position-title">
            当前城市
        </div>
        <div @click="chooseCityBefore(currentCityId,currentCity)" class="now-position-name">
            {{currentCity}}
        </div>
    </div>
    <div class="city-list">
        <template v-for="(city,index) in cityList">
            <div class="city-item">
                <div class="now-position">
                    <div class="now-position-title">
                        <template v-if="index == 0">城市列表</template>
                    </div>
                    <div @click="chooseCityBefore(city.region_id,city.name,city.lng,city.lat)"
                         class="now-position-name">
                        {{city.name}}
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>
<script type="text/javascript" src="assest/mui/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="assest/mui/js/mui.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: "#app",
        data: {
            currentCity: '定位中...',
            currentCityId: '',
            cityList: []
        },
        methods: {
            chooseCityBefore: function (region_id, name, lng, lat) {
                var u = navigator.userAgent;
                var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
                var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                if (isAndroid == true) {
                    if (lng) {
                        android.chooseCity(JSON.stringify({region_id: region_id, name: name, lng: lng, lat: lat}));
                    }
                    else {
                        android.chooseCity(JSON.stringify({region_id: region_id, name: name}));
                    }
                } else {
                    if (lng) {
                        window.location.href = `chooseCity://${Base.encode(JSON.stringify({
                            region_id: region_id,
                            name: name,
                            lat: lat,
                            lng: lng
                        }))}`;
                    }
                    else {
                        window.location.href = `chooseCity://${Base.encode(JSON.stringify({
                            region_id: region_id,
                            name: name,
                            lat: lat,
                            lng: lng
                        }))}`;
                    }
                }
            }
        },
        computed: {
            getLength: function () {
                return this.cityList.length;
            }
        }
    });

    function showData(param) {
        app.currentCity = decodeURIComponent(param.region_name);
        app.currentCityId = param.region_id;
        $.ajax({
            type: "post",
            url: " http://qpg.vlusi.com/api/api.php",
            async: true,
            dataType: 'json',
            data: {
                act: 'supplier_city',
                city: param.region_id,
                signature: SHA2(`act=supplier_city&city=${param.region_id}${param.transfer_key}`)
            },
            success: function (data) {
                $.each(data.data, function (index, city) {
                    app.cityList.push({
                        region_id: city.region_id,
                        name: city.region_name,
                        lng: city.longitude,
                        lat: city.latitude
                    });
                });
            },
            error: function () {
                mui.toast('服务器异常!');
            }
        });
    }

    $(function () {
        transformParams(showData);
    });

    function chooseCity(region_id, region_name, lng, lat) {

    }
</script>
</body>

</html>