<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>分类</title>
    <link rel="stylesheet" href="assest/mui/css/mui.css"/>
    <link rel="stylesheet" href="css/classification.css"/>
</head>

<body>
<div class="mui-content" id="app">
    <ul class="left">
        <li v-bind:class="{active:index == nowIndex}" v-for="(item,index) in tabs">
            <a href="javascript:;" @click="triggerActive(index)">{{item.name}}</a>
            <ul v-bind:class="{invisible:index != nowIndex || trigger}">
                <li v-bind:class="{'child-list':true,active:nowIndexChild.toString() == [index,i].toString()}"
                    v-for="(child,i) in item.childs" @click="triggerActiveChild(index,i,child.id)">
                    <i class="dot">&bull;</i> {{child.name}}
                </li>
            </ul>
        </li>
    </ul>
    <div class="right active  mui-scroll-wrapper active" id="scroller">
        <div class="mui-scroll">
            <ul class="mui-table-view" v-for="goods in goodsList">
                <li @click="goDetail(goods.goods_id)" class="mui-table-view-cell mui-media">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" :src="goods.goods_thumb">
                        <div class="mui-media-body">
                            <p class="mui-ellipsis goods-name">{{goods.goods_name}}</p>
                            <p class='goods-num mui-ellipsis'>月销999件</p>
                            <p class="goods-spec">
                                <span v-if="goods.is_promote == 1" class="special-price">特价</span>
                                <span v-if="goods.is_buy == 1" class="only-one">限购{{goods.buymax}}份</span>
                            </p>
                            <p class="goods-price">
                                <span class="goods-now-price">￥{{goods.shop_price}}</span>
                                <span class="goods-pre-price">￥{{goods.market_price}}</span>
                            </p>
                        </div>
                    </a>
                    <p class="calculate">
								<span :id="goods.goods_id" class="invisible reduce">
								<img src="img/形状2.png"/>
							</span>
                        <span class="invisible">0</span>
                        <span :id="goods.goods_id" class="add">
								<img src="img/形状2拷贝.png"/>
                        </span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div @click="goToCart()" class="shopping-cart-container">
        <span v-if="goodsNum != 0" class="mui-badge mui-badge-danger circle-num">{{goodsNum}}</span>
        <img src="img/购物车.png" class="shopping-cart"/>
    </div>
</div>
<script type="text/javascript" src="assest/mui/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="assest/mui/js/mui.min.js"></script>
<script type="text/javascript" src="js/pull-to-refresh.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/sha1.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            //登录返回的token
            token: '',
            //签名
            transfer_key: '',
            //商家id
            supplier_id: '',
            tabs: [],
            tabContent: [],
            nowIndex: 0,
            nowIndexChild: [0, 0],
            trigger: false,
            //商品列表
            goodsList: [],
            goodsNum: 0,
            //当前选择的分类
            catId: ''
        },
        methods: {
            triggerActive: function (index) {
                if (index != this.nowIndex) {
                    this.nowIndex = index;
                    this.trigger = false;
                } else {
                    this.trigger = !this.trigger;
                }
            },
            triggerActiveChild: function (parIndex, childIndex, id) {
                this.nowIndexChild = [parIndex, childIndex];
                app.catId = id;
                getGoodList(id, app.supplier_id);
            },
            //商品详情页
            goDetail: function (goodsId) {
                mui.openWindow({
                    url: 'goodsDetail?token=' + app.token + '&signature=' + app.signature + '&goodsId=' + goodsId
                });
            },
            goToCart: function () {
                var u = navigator.userAgent;
                var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
                var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                if (isAndroid == true) {
                    android.goToCart();
                } else {
                    goToCart()
                }

            }
        }
    });
    $(function () {
        //数量增加
        mui("body").on('tap', '.add', function () {
            var num = parseInt($(this).prev().text());
            var elem = $(this);
            var goods_id = $(this).attr("id");
            console.log(`id=${goods_id}`)
            var goods = Base.encode(JSON.stringify(
                {
                    "quick": 1,
                    "spec": [],
                    "goods_id": goods_id,
                    "number": "1",
                    "parent": 0
                }
            ));
            //加入购物车
            $.ajax({
                type: "post",
                url: " http://qpg.vlusi.com/api/api.php",
                async: true,
                dataType: 'json',
                data: {
                    act: 'add_to_cart',
                    token: app.token,
                    goods: goods,
                    signature: SHA2(`act=add_to_cart&goods=${goods}&token=${app.token}${app.transfer_key}`)
                },
                success: function (data) {
                    if (data.code == 200) {
                        if ($(elem).prev().text() == '0') {
                            $(elem).prev().text(++num);
                            $(elem).prev().prev().show();
                            $(elem).prev().show();
                        } else {
                            $(elem).prev().text(++num);
                        }
                        //重新获取购物车数据
                        transformParams(getCartList);
                    }
                    else {
                        mui.toast('加入购物车失败!');
                    }
                },
                error: function (xhr, status, info) {
                    mui.toast('服务器异常');
                }
            });
        });
        //数量减少
        mui("body").on('tap', '.reduce', function () {
            var num = parseInt($(this).next().text());
            var elem = $(this);
            var goods_id = $(this).attr("id");
            var goods = Base.encode(JSON.stringify(
                {
                    "quick": 1,
                    "spec": [],
                    "goods_id": goods_id,
                    "number": "-1",
                    "parent": 0
                }
            ));
            //加入购物车
            $.ajax({
                type: "post",
                url: " http://qpg.vlusi.com/api/api.php",
                async: true,
                dataType: 'json',
                data: {
                    act: 'add_to_cart',
                    token: app.token,
                    goods: goods,
                    signature: SHA2(`act=add_to_cart&goods=${goods}&token=${app.token}${app.transfer_key}`)
                },
                success: function (data) {
                    if (data.code == 200) {
                        if ($(elem).next().text() == '1') {
                            $(elem).next().text(--num);
                            $(elem).hide();
                            $(elem).next().hide();
                        } else {
                            $(elem).next().text(--num);
                        }
                        mui.toast('已加入购物车');
                        //重新获取购物车数据
                        transformParams(getCartList);
                    }
                    else {
                        mui.toast('删除商品失败!');
                    }
                },
                error: function (xhr, status, info) {
                    mui.toast('服务器异常');
                }
            });
        });
    });
    //获取分类列表
    transformParams(getClassList);
    //获取购物车列表
    transformParams(getCartList);
    //下拉回调函数
    var downFunc = function () {
        getGoodList(app.catId, app.supplier_id, true);
    };
    //上拉回调函数
    var upFunc = function () {
        setTimeout(function () {
            mui('#scroller').pullRefresh().endPullupToRefresh(false);
        }, 2000);
    };
    pullToRefresh("#scroller", downFunc, upFunc);

    /**
     * 获取商家分类列表
     */
    function getClassList(param) {
        app.token = param.token;
        app.transfer_key = param.transfer_key;
        app.supplier_id = param.supplier_id;
        $.ajax({
            type: "post",
            url: " http://qpg.vlusi.com/api/api.php",
            async: true,
            dataType: 'json',
            data: {
                act: 'category_list',
                token: param.token,
                supplier_id: param.supplier_id,
                signature: SHA2(`act=category_list&supplier_id=${param.supplier_id}&token=${param.token}${param.transfer_key}`)
            },
            success: function (data) {
                app.tabs = data.data.map(function (item, index) {
                    if (item.son) {
                        return {
                            id: item.cat_id,
                            name: item.cat_name,
                            childs: item.son.map(function (son, i) {
                                if (i == 0) {
                                    app.catId = son.cat_id;
                                    getGoodList(son.cat_id, app.supplier_id);
                                }
                                return {
                                    id: son.cat_id,
                                    name: son.cat_name
                                }
                            })
                        }
                    }
                    else {
                        return {
                            id: item.cat_id,
                            name: item.cat_name
                        }
                    }
                });
            },
            error: function (xhr, status, info) {
                mui.toast('服务器异常');
            }
        });
    }

    /**
     * 获取对应分类的商品列表
     */
    function getGoodList(id, supplier_id, isPullDown) {
        $.ajax({
            type: "post",
            url: " http://qpg.vlusi.com/api/api.php",
            async: false,
            dataType: 'json',
            data: {
                act: 'search_goods_list',
                token: app.token,
                cat_id: id,
                supplier_id: supplier_id,
                signature: SHA2(`act=search_goods_list&cat_id=${id}&supplier_id=${supplier_id}&token=${app.token}${app.transfer_key}`)
            },
            success: function (data) {
                app.goodsList = data.data;
                if (isPullDown) {
                    mui('#scroller').pullRefresh().endPulldownToRefresh(true);
                }
            },
            error: function () {
                mui.toast('服务器异常!');
            }
        });
    }

    /**
     * 获取购车商品数量
     * @param param
     */
    function getCartList(param) {
        alert(JSON.stringify(param));
        $.ajax({
            type: "post",
            url: " http://qpg.vlusi.com/api/api.php",
            async: true,
            dataType: 'json',
            data: {
                act: 'cart_list',
                token: param.token,
                supplier_id: param.supplier_id,
                signature: SHA2(`act=cart_list&supplier_id=${param.supplier_id}&token=${param.token}${param.transfer_key}`)
            },
            success: function (data) {
                if (data.code == 200) {
                    app.goodsNum = data.data.goods_list[0].goods_list.length;
                }
                else {
                    mui.toast('获取购物车数据失败!');
                }
            },
            error: function () {
                mui.toast('服务器异常!');
            }
        });
    }

    /**
     * 去购物车
     */
    function goToCart() {

    }
</script>
</body>

</html>