<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>订单详情</title>
		<link rel="stylesheet" href="assest/mui/css/mui.css" />
		<link rel="stylesheet" href="css/order-detail.css" />
	</head>

	<body>
		<div id="app" class="mui-content">
			<div class="top-container">
				<div class="top">
					<div class="top-content">
						<p class="first-p">
							<img src="img/定位.png" />
							<span>取货地址</span>
						</p>
						<p>{{marketName}}</p>
						<p>{{address}}</p>
						<p>联系电话：{{phone}}</p>
					</div>
				</div>
				<div class="put-up-time">
					<div id="show-date" class="list-item border-bottom">
						<img src="img/取货日期.png" />
						<span>预约取货日期</span>
						<span class="time-font">{{preDate}}</span>
					</div>
					<div @click="selectTime()" class="list-item">
						<img src="img/取货时间.png" />
						<span>预约取货时间</span>
						<span class="time-font">{{preTime}}</span>
						<i class="mui-icon mui-icon-arrowright right-icon"></i>
					</div>
				</div>
			</div>
			<div class="menu-ticket">
				<div class="menu-title">
					菜单小票
				</div>
				<div class="menu-content">
					<table>
						<tr class="first visible">
							<td width="45%">品名</td>
							<td width="15%">数量</td>
							<td width="20%"></td>
							<td width="20%">价格</td>
						</tr>
						<template v-for="(goods,index) in goodsList">
							<template v-if="index > 4">
								<tr :class="{invisible:invisible}">
									<td>{{goods.goods_name}}</td>
									<td>{{goods.goods_number}}</td>
									<td class="line-through">{{goods.market_price}}</td>
									<td>{{goods.goods_price}}</td>
								</tr>
							</template>
							<template v-else>
								<tr>
									<td>{{goods.goods_name}}</td>
									<td>{{goods.goods_number}}</td>
									<td class="line-through">{{goods.market_price}}</td>
									<td>{{goods.goods_price}}</td>
								</tr>
							</template>
						</template>
						<tr class="first">
							<td colspan="4">
								<div v-bind:class="{invisible:!invisible,'btn-more':true}" @click="showTrigger">
									共<span>{{goodsList.length}}</span>件商品
									<img src="img/下拉菜单.png" />
								</div>
								<div v-bind:class="{invisible:invisible,'btn-more':true}" @click="showTrigger">
									折叠
									<i class="mui-icon mui-icon-arrowup"></i>
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">金额总计</td>
							<td colspan="2">￥{{totalMoney}}</td>
						</tr>
						<tr class="discount">
							<td colspan="2">优惠</td>
							<td colspan="2">{{discount}}</td>
						</tr>
						<tr>
							<td colspan="2">实付金额</td>
							<td colspan="2">￥{{totalPay}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="bottom-button">
				<button id="get-goods" class="mui-btn mui-btn-green mui-btn-block" @click="getGoods">扫一扫取货</button>
			</div>
		</div>
		<script type="text/javascript" src="assest/mui/js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="assest/mui/js/mui.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/global.js" ></script>
		<script type="text/javascript" src="js/sha1.js"></script>
		<script>
			var vm = new Vue({
				el: "#app",
				data: {
                    invisible:true,
                    marketName:'',
                    address:'',
                    phone:'',
                    preDate:'',
                    preTime:'',
                    token:'',
                    transfer_key:'',
                    sel_cartgoods:'',
                    supplier_id:'',
                    goodsList:[],
                    //金额总计
                    totalMoney:'',
                    //优惠
                    discount:'',
                    //实际支付
                    totalPay:'',
                    //自提点
                    pickup_point:''
				},
				methods: {
					showTrigger: function() {
						this.invisible = !this.invisible;
					},
					getGoods: function() {
						// mui.confirm('确认取消订单？', '警告',['确认','取消'], function(e) {
						// 	if(e.index == 0) {
						// 		console.log("确定");
						// 	} else {
						// 		console.log("取消");
						// 	}
						// })
                        var u = navigator.userAgent;
                        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
                        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                        if (isAndroid == true) {
                            android.submitOrder();
                        } else {
                            submitOrder()
                        }
					}
				}
			});
			mui.init();

			function getOrderData(param) {
				$.ajax({
					url:' http://qpg.vlusi.com/api/api.php',
					type:'post',
					data:{
					    act:'act_order_detail',
						token:param.token,
						order_sn:param.order_sn,
                        signature:SHA2(`act=act_order_detail&order_sn=${param.order_sn}&token=${param.token}${param.transfer_key}`)
					},
					success:function(data) {
					    if(data.code == 200) {
					        app.preDate = transformTime(data.data.best_date);
					        app.preTime = data.data.best_time_section;
                            app.marketName = data.data.shop_name;
                            app.address = data.data.address;
                            app.phone = data.data.phone;
                            app.goodsList = data.data.goods_list;
                            app.totalMoney = data.data.market_price;
                            app.discount = data.data.discount;
                            app.totalPay = data.data.money_paid;
						}
						else {
						    mui.toast('获取订单信息失败!');
						}
					},
					error:function(xhr,status,info) {
						mui.toast('服务器异常!');
					}
				})
            }

            $(function () {
				transformParams(getOrderData);
            });
		</script>
	</body>

</html>